
ul > li {
    margin-right: 25px;
     font-weight: lighter;
    cursor: pointer;
}
/* li.active {
    border-bottom: 3px solid silver;
} */ 
.body{
    border-top: 1px ridge;
}
.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #f6f6f6; */
}
.menu-items {
    /* list-style-type: none;
    font-size: 11px; */
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 20px;
}
.btn-success {
    width: 100%;
    border-radius: 0;
}
.section {
    width: 100%;
    margin-left: -15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f9f9;
}
.title-price {
    margin-top: 30px;
    margin-bottom: 0;
    color: black;
}
.title-attr {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}
.btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}
.btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}
div.section > div {
    width: 100%;
    display: inline-flex;
}
div.section > div > input {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 18%;
    text-align: center;
}
.attr,
.attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}
.attr.active,
.attr2.active {
    border: 1px solid orange;
}

@media (max-width: 426px) {
    .container {
        margin-top: 0px !important;
    }
    .container > .row {
        padding: 0 !important;
    }
    .container > .row > .col-xs-12.col-sm-5 {
        padding-right: 0;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul {
        padding-left: 10px !important;
    }
    .section {
        width: 104%;
    }
    .menu-items {
        padding-left: 0;
    }
}
.product-detail{
    margin-top: 2.5rem;
}
.product-detail-name h1 {
    font-family: "Trirong",arial,helvetica,clean,sans-serif;
    font-size: 1.6rem;
    line-height: 1.42em;
    letter-spacing: -0.5pt;
    color: #333;
    font-weight: 400;
}
.product-useful{
    font-size: .75rem;
}
.qty-section-title {
    color: #757575;
    padding-bottom: 5px;
    font-size: .875rem;
}
.product-detail-summary{
    /* font-size: 0.75rem; */
    font-size:14px;
    border: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 11px 0;
    color: #666;
    margin: 11px 0;
    line-height: 25px;
}
.product-detail-option{
    margin-bottom: 11px;
}
/* .product-detail-summary p{
        font-size: .075rem;
        border: 1px solid #d6d6d6;
        border-left: none;
        border-right: none;
        padding: 11px 0;
        color: #666;
        margin: 11px 0;
} */
/* .clearfix::after {
    display: block;
    clear: both;
    content: "";
} */
/* .product-detail-name h1 a{
    color: #333;
} */
.detail-saleoff {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.25em;
    display: block;
}
.product-detail-content{
    margin-top: 60px;
    margin-bottom: 60px;
}
.product-detail-content{
    border-bottom: 1px solid;
    border-color: #666;
}

.product-detail-tab{
    position: relative;
    text-align: center;
}
.product-detail-tab:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    left: 0;
    bottom: 0;
}
.pd-tabitem-link {
    padding: 10px 30px;
    display: block;
}
.product-detail-description {
    font-size: .875rem;
    border-bottom: 1px solid var(--main-color);
}
.product-detail-description-wrapper {
    background: #fff;
    padding: 20px 0;
}
h2.product-detail-information-title {
    font-family: 'FontAwesome';
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 15px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.prduct-detail-description-content{
    line-height: 30px;
}
.prduct-detail-description-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}